{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": 
        ["transform-react-jsx-source",
          ["module-resolver",{
              "root": ["./src"],
              "alias": {
                "Components": "./Components",
                "CSS": "./CSS",
                "Pages": "./Pages",
                "Utils": "./Utils"
              }
            }
          ]
        ]
      }
    }
  }