.ant-select-arrow {
  top: 50%;
  width: fit-content;
  height: fit-content;
  margin-top: 0;
  transform: translate(-50%, -50%);
  right: 0;
}

.anticon-down {
  transform: translateY(1px);
}

.ant-input {
  font-size: 16px;
}
