#header-btn {
  display: inline-flex;
  float: right;
  margin: 18px;

  .anticon{
    display: inline-flex;
  }

}

#header-menu{
  .anticon{
    padding-right: 10px;
    display: inline-flex;
  }

 
}