@import 'SCSS/Colors';

.site-layout-background {
  background: #fff;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $color-primary;
  }
}

.brand {
  color: $color-secondary;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  font-family: Courgette;
  justify-content: center;

  &:hover {
    color: $color-secondary;
  }
}

.ant-layout-sider {
  height: 100vh;

  a {
    display: flex !important;
    align-items: center;
  }
}
