.btn {
  padding: 7px 10px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.btn-filled {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-filled-2nd {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-outlined {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outlined-2nd {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}