@import 'Colors';



.button {
  padding: 7px 10px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  &--filled {
    background: $color-primary;
    color: $color-secondary;
  }

  &--filled-2 {
    background: $color-secondary;
    color: $color-primary;
  }

  &--outlined {
    box-shadow: inset 0px 0px 0px 1px $color-primary;
    color: $color-primary;
  }

  &--outlined-2 {
    box-shadow: inset 0px 0px 0px 1px $color-secondary;
    color: $color-secondary;
  }
}