@import 'Colors';

.button {
  position: relative;
  padding: 7px 10px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(0px);
  }

  &:not(:last-child) {
    margin-right: 1vw;
  }

  &_filled {
    background: $color-primary;
    color: $color-secondary;

    &:hover {
      background: tint($color-primary, 50%);
    }
  }

  &_filled_2 {
    background: $color-secondary;
    color: $color-black;

    &:hover {
      background: tint($color-secondary, 50%);
    }
  }

  &_outlined {
    color: $color-primary;
    box-shadow: 0px 0px 0px 1px $color-primary inset;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }

  &_outlined_2 {
    color: $color-secondary;
    box-shadow: 0px 0px 0px 1px $color-secondary inset;
    border-radius: 0;
    z-index: 0;

    &:hover {
      color: $color-primary;
      transform: translate(0);
    }

    &:before {
      content: '';
      position: absolute;
      background: $color-secondary;
      border-radius: inherit;
      bottom: 0;
      left: 0;
      right: 100%;
      top: 100%;
      z-index: -1;
      transition: all 0.2s ease-out;
    }

    &:hover:before {
      top: 0;
      right: 0;
    }
  }

  &_text {
    color: $color-white;

    &:hover {
      color: $color-secondary;
    }
  }
}

.submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  justify-self: center;
  padding: 10px 0;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  border-radius: 6px;
  background: $color-primary;
  color: $color-secondary;
  transition: all 0.2s;

  &:hover {
    background: $color-primary-heavy;

    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(0);
  }

  &:focus {
    outline: none;
  }

  .loading_icon {
    $size: 23px;

    width: $size;
    height: $size;

    circle {
      stroke: $color-secondary;
    }
  }
}

.icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  transition: all 0.15s;
  cursor: pointer;
  padding: 6px;
  height: fit-content;
  line-height: 16px;
  color: $color-primary;

  $icon-size: 24px;
  &__icon {
    width: $icon-size;
    height: $icon-size;
    color: $color-primary;

    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &:hover {
    background: transparentize($color-primary, 0.9);
  }

  &:active {
    background: transparentize($color-primary, 0.8);
  }

  span {
    margin-left: 5px;
    margin-right: 3px;
  }
}
