@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$color-primary: #581B98;
$color-secondary: #FAEE1C;
$color-offwhite: #eee8f5;
$color-dark: #35105b; // primary 40% shade
$color-placeholder: transparentize($color-primary, 0.4);
$color-offwhite--transparent: transparentize($color-offwhite, 0.7)