@import 'Colors';

$max-width: 1174px;

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.top {
  &_container {
    width: 100%;
    background: $color-primary;
  }

  &_content {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
  }
}

.buttons {
  display: flex;
}
