@import 'Colors';

$max-width: 1174px;

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.top {
  &_container {
    width: 100%;
    background: $color-primary;
  }

  &_content {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
  }
}

.brand {
  display: flex;
  align-items: center;
  cursor: pointer;

  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    .shape {
      fill: $color-secondary;
    }

    .text {
      fill: $color-primary;
    }
  }

  .name {
    font-family: Courgette;
    font-size: 30px;
    color: $color-secondary;
  }

  @media screen and (max-width: 768px) {
    .name {
      display: none;
    }
  }
}

.search_bar {
  display: flex;
  flex: 1 1 auto;
  max-width: 40%;
  background: $color-white;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;

  input {
    flex: 1 1 auto;
    margin-left: 15px;
  }

  // Search button
  button[type='submit'] {
    margin: 5px;
    background: transparent;
    transform: rotate(90deg);
    color: $color-primary;
    transition: all 0.5s;

    &:focus {
      outline: none;
    }
  }
}

.buttons {
  display: flex;
}

.genres_container {
  background: $color-primary-heavy;
  display: flex;
  justify-content: center;

  .genres {
    display: flex;
    align-items: center;
    max-width: $max-width;
    width: 100%;

    .content {
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scroll-snap-align: end;

      position: relative;
      overflow: hidden;
      display: flex;
      margin: 0 auto;
      max-width: $max-width;
      align-items: center;

      .item {
        scroll-snap-align: inherit;

        white-space: nowrap;
        color: $color-white;
        padding: 10px 0;

        &:hover {
          color: $color-secondary;
        }

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    // Navigate buttons
    button {
      background: transparent;
      color: $color-white;
      cursor: pointer;
      transition: all 0.2s;

      &.left {
        padding-right: 10px;

        &:hover:enabled {
          transform: translateX(-3px);
        }
      }

      &.right {
        padding-left: 10px;

        &:hover:enabled {
          transform: translateX(3px);
        }
      }

      &:hover {
        color: $color-secondary;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        cursor: default;
        color: transparentize($color-white, 0.7);
      }

      .chevron {
        display: block;
        height: 24px;
        width: 24px;
      }
    }
  }
}
