@import 'Colors.scss';

.userListContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  button {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-right: 10px;
    }

    svg:only-of-type {
      margin: 0 !important;
    }
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  transition: all 0.15s;
  cursor: pointer;
  padding: 6px;
  height: fit-content;
  line-height: 16px;
  color: $color-primary;

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &:hover {
    background: transparentize($color-primary, 0.9);
  }

  &:active {
    background: transparentize($color-primary, 0.8);
  }

  span {
    margin-left: 5px;
    margin-right: 3px;
  }
}

$icon-size: 24px;
.icon {
  width: $icon-size;
  height: $icon-size;
  color: $color-primary;

  &:not(:last-of-type) {
    margin-right: 15px;
  }
}